{% extends 'base.html' %}

{% block tittle %}Login{% endblock tittle %}
{% block style %}
<style>
    body {
        background: rgb(247 247 254);
    }
        /* .card {
        background-color: white;
        margin: auto;
        width: 30%;
        text-align: center;
        padding-block: 1vh;
        margin-block-start: 10vh;
        margin-block-end: 10vh;

        border:1px solidwhite;
        border-radius:1vw;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border: 1px solid #dbdbdb;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        border-radius: 10px; */
/* } */
    .card{
        background-color: white;
        margin: auto;
        width: 30%;
        text-align: center;
        padding-block: 1vh;
        padding-block-end: 5vh;
        margin-block-start: 10vh;
        margin-bottom: 1vh;
        border:1px solid white;
        border-radius:1vw;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border: 1px solid #dbdbdb;
        border: 1px solid rgba(var(--b6a,219,219,219),1);
        border-radius: 8px;
        } 

    .font {
        margin-block: 3vh;
        font-family: 'Monoton', cursive;
    }

    .form-floating {
        margin-inline: 10%;
    }

    .loginbutton {
        text-align: center;
        margin: auto;
        /* padding-inline :5vw;  */
        margin-block-start: 2vh;
        padding: 1vh;
        font-family: 'Kanit', sans-serif;
        font-family: 'Monoton', cursive;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        background-color: #adb5bd;
        border: 0.4vh solid #787160;
        /* border: 2px solid #787160; */
        margin-block-end: 2vh;
        width: 24vw;
        
        
       
    }

    .loginbutton:hover {
        background-color: #6c757d;
        ;

    }

    .forgetpassword {
        margin-block: 2vh;
        text-decoration: unset;
    }

    .forgetpassword:hover {
        text-decoration: underline;
    }

    .new {
        background-color: #79dfc1;
        text-decoration: none;
        color: white;
        /* width: 14vw; */
        margin: auto;
        padding: 2vh;
        margin-block-end: 3vh;
        border-radius: 9px;
    }

    .new:hover {
        background-color: #4dd4ac;
        color: white;

    }

    .line {
        align-items: center;
        border-bottom: 1px solid #dadde1;
        display: flex;
        margin: 3vh 3vw;
        text-align: center;
        margin-block-end: 5vh;
    }

    .signinbutton {
        margin-block-start: 2vh;
        padding: 1vh;
        font-family: 'Kanit', sans-serif;
        font-family: 'Monoton', cursive;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        background-color: #adb5bd;
        border: 0.4vh solid #787160;
        /* border: 2px solid #787160; */
        margin-block-end: 4vh;
    }

    .signinbutton:hover {
        background-color: #6c757d;


    }

    @media only screen and (max-width: 1000px) {
        .card {
            width: 100%;
            margin-block-start: 15%;
            background-color: rgb(247 247 254);
            /* border-block: rgb(247 247 254); */
            border: 0px solid;
            border-radius: 0px;
            border-color: rgb(247 247 254);
            box-shadow: none;
}

        

        .new {
            width: max-content;
            margin-block: 1vh;

        }
        .loginbutton{
            width:65vw ;
        }


    }
</style>{% endblock style %}
{% block slide %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show {{ message.tags }}"style="margin:0vw;" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
{% endblock slide %}

{% block body %}

<div class="card">
    <h1 class="font">Login</h1>
    <form action="/login" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="name" name="name" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
        <button type="submit" class="form-floating loginbutton">Log-in</button></div>

        <a href="#" class="forgetpassword">Forgot Password</a>
        {% if error %}
        <h6 style="margin: auto;margin-block-start: 2vh;color: red;">{{error}}</h6>{% endif %}
        
        

        <div class="line "></div>
        <a role="button" class="new form-floating" href="/signup">Create New Account</a>
        <!-- <a role="button" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy" href="#" ajaxify="/reg/spotlight/" id="u_0_2_5D" data-testid="open-registration-form-button" rel="async">Create New Account</a> -->
        
    </form> 
</div>  
{% endblock body %}